In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn  as sns
import plotly.express as px

In [19]:
ruta =r"C:\Users\DELL\Downloads\dataset_empleados.xlsx"
df =pd.read_excel(ruta)
df

,ID,Nombre,Departamento,Salario Base,BonificaciÃ³n,Fecha de Ingreso
0,1,Empleado_1,RRHH,10777.0,2215,2010-10-07
1,2,Empleado_2,Marketing,3197.0,4354,2014-12-07
2,3,Empleado_3,Finanzas,10125.0,2991,2018-02-02
3,4,Empleado_4,Marketing,4930.0,3160,2023-08-30
4,5,Empleado_5,Marketing,14774.0,3624,2022-04-18
...,...,...,...,...,...,...
195,196,Empleado_196,Finanzas,6769.0,2031,2014-06-08
196,197,Empleado_197,Finanzas,3574.0,3940,2021-07-07
197,198,Empleado_198,Ventas,14453.0,1323,2007-06-19
198,199,Empleado_199,Marketing,4148.0,1428,2017-03-14
199,200,Empleado_200,RRHH,9293.0,633,2013-01-26

In [ ]:
df["Salario Base"].mean()

np.float64(8824.633165829146)

In [17]:
df

np.float64(8824.633165829146)

In [21]:
df["Salario Base"].max()

np.float64(14983.0)

In [22]:
range = df["Salario Base"].max() - df["Salario Base"].min()
print("El rango de los salarios es: ", range)

El rango de los salarios es:  11885.0